*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   background-color: rgb(46, 44, 44);
}

.maindiv{
    background-color: rgba(6, 241, 225, 0.861);
    border: none;
    border-radius: 15px;
    width: 30vw;
    height: 70vh;
    /* margin-top: 100px;
    margin-left: 35%; */
}

header{
    padding-top: 20px;
    text-align: center;
}
header{
    text-transform: uppercase;
}